html{

  height: 100%;
}

#container
{
  height: 400px;
  width: 550px;
  background-color: #9DD2EA;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #009de4;
  -moz-box-shadow: 0px 4px 0px 0px #009de4;
  -webkit-box-shadow: 0px 4px 0px 0px #009de4;
/*        box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
  position: relative;
}

#text{
  width: 450px;
  height: 150px;
  margin: 5px auto 1px auto;
  background-color: #9DA0EA;

  font-size: 40px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: #ffff;
  padding 40px;
  border-radius: 30px;
}

#choose{
  width: 450px;
  height: 50px;
  margin: 5px auto 1px auto;
  background-color: #9DA0EA;

  font-size: 28px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: #ffff;
  padding 40px;
  border-radius: 30px;

}


#choices{
    width: 450px;
    height: 100px;
    margin: 20px auto;
}






.button {
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;

  margin-right: 36.65px;
  border-radius: 10px;
  cursor: pointer;
  /*box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
*/
  text-align: center;
  line-height: 9px;
  position: relative;
  transition: all 0.2s;
  /*-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
*/
  font-family: cursive, sans-serif;

  font-size: 40px;


}

.button:hover, #startreset:hover{
    background-color: #9C89F6;
    color: white;
}


.button:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    /*box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    */top: 1px;
}



a:link, a:visited {
  background-color: #9C89F6;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: cursive, sans-serif;

  width: 20px;
  height: 29px;
  float: left;

  margin-left: 21px;
  margin-right: 21px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

a:hover, a:active {
  background-color: white;
  color:  #9C89F6;
}

#box4{
    margin-right: 0;
}
